# Analyse the FUSE Experiments vs. LSTM work

In [1]:
from pathlib import Path
import os
import warnings

%load_ext autoreload
%autoreload 2

# ignore warnings for now ...
warnings.filterwarnings('ignore')

if Path('.').absolute().parents[1].name == 'ml_drought':
    os.chdir(Path('.').absolute().parents[1])

!pwd

/home/tommy/ml_drought

In [2]:
import xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import torch

from typing import List, Union, Optional, Tuple, Dict

data_dir = Path('/cats/datastore/data/')
# data_dir = Path('/Volumes/Lees_Extend/data/zip_data')
# data_dir = Path('/Volumes/Lees_Extend/data/ecmwf_sowc/data/')
# plot_dir = Path('/Users/tommylees/Downloads')

assert data_dir.exists()

In [21]:
[d.name for d in (data_dir / "runs/lstm_less_vars_2004_1507_1028/").iterdir()]

['config.yml',
 'events.out.tfevents.1594810205.GPU_MachineLearning.10968.0',
 'model_epoch001.pt',
 'valid_ds.nc',
 'results_lstm_less_vars_2004_1507_1028_E001.csv',
 'all_lstm_less_vars_2004_1507_1028_results.csv',
 'model_epoch002.pt',
 'model_epoch003.pt',
 'model_epoch004.pt',
 'model_epoch005.pt',
 'model_epoch006.pt',
 'model_epoch007.pt',
 'model_epoch008.pt',
 'model_epoch009.pt',
 'model_epoch010.pt',
 'model_epoch011.pt',
 'model_epoch012.pt',
 'model_epoch013.pt',
 'model_epoch014.pt',
 'model_epoch015.pt',
 'results_lstm_less_vars_2004_1507_1028_E002.csv',
 'results_lstm_less_vars_2004_1507_1028_E006.csv',
 'results_lstm_less_vars_2004_1507_1028_E007.csv',
 'results_lstm_less_vars_2004_1507_1028_E008.csv',
 'results_lstm_less_vars_2004_1507_1028_E012.csv',
 'results_lstm_less_vars_2004_1507_1028_E014.csv',
 'results_lstm_less_vars_2004_1507_1028_E009.csv',
 'results_lstm_less_vars_2004_1507_1028_E010.csv',
 'results_lstm_less_vars_2004_1507_1028_E005.csv',
 'results_lstm_less_vars_2004_1507_1028_E004.csv',
 'results_lstm_less_vars_2004_1507_1028_E003.csv',
 'results_lstm_less_vars_2004_1507_1028_E015.csv',
 'results_lstm_less_vars_2004_1507_1028_E013.csv',
 'results_lstm_less_vars_2004_1507_1028_E011.csv',
 'train_data',
 'test']

# Load csv

In [39]:
def get_all_data_csv(run_dir: Path):
    csv_path = sorted(list(run_dir.glob("*.csv")))[-1]
    number = csv_path.as_posix().split("_")[-1]
    print(f"Reading {number}")
    return pd.read_csv(csv_path)
    
    
run_dir = data_dir / "runs/ealstm_less_vars_2004_1607_1334"
ealstm = get_all_data_csv(run_dir)
run_dir = data_dir / "runs/lstm_less_vars_2004_1507_1028"
lstm = get_all_data_csv(run_dir)

lstm.head()

Reading E011.csv
Reading E015.csv

   station_id        time   obs        sim
0        1001  2004-01-01  9.16  10.026257
1        1001  2004-01-02  6.23   5.819096
2        1001  2004-01-03  5.60   5.267475
3        1001  2004-01-04  4.45   5.064303
4        1001  2004-01-05  4.46   5.131446

# Calculate Error Metrics

In [48]:
import hydroeval

In [51]:
hydroeval.nse(lstm.sim.values, lstm.obs.values)

nan